* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, #000, #240274);
  color: #fff;
}

.container {
  max-width: 400px;
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.container h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-box {
  position: relative;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
}

input, select {
  width: 100%;
  padding: 12px 40px 12px 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #888;
  color: #fff;
  font-size: 15px;
}

.form-box i {
  position: absolute;
  right: 15px;
  top: 70%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #fff;
  pointer-events: none;
}

button {
  background: #240274;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s ease;
}

button:hover {
  background: #46038d;
}

@media screen {
    
}